import init.p1-common.rc
import init.p1.usb.rc

on init

    # create P1 device specific partition directories
    mkdir /radio
    mkdir /efs

    export SECONDARY_STORAGE /storage/sdcard1
    mkdir /storage/sdcard1 0000 system system
    symlink /storage/sdcard1 /mnt/emmc
    symlink /storage/sdcard1 /emmc

on fs

    # mount P1 device specific partions
    mount yaffs2 mtd@radio /radio
    mount yaffs2 mtd@efs /efs

on post-fs

    # We chown/chmod again, because mount is run as root + defaults
    chown radio radio /radio
    chmod 0775 /radio
    chown radio radio /efs
    chmod 0775 /efs

on post-fs-data

    # set permissions for files in /efs
    chmod 770 /efs/bluetooth
    chmod 770 /efs/imei

    # set permissions for files in /radio
    chown radio radio /radio/modem.bin
    chmod 0777 /radio/modem.bin
    symlink /radio/modem.bin /dev/block/bml12

    # gps P1 only
    chown gps root /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 660 /sys/class/sec/gps/GPS_PWR_EN/value
    chown gps root /sys/class/sec/gps/GPS_nRST/value
    chmod 660 /sys/class/sec/gps/GPS_nRST/value

    # sensors P1 only
    # this needs to be fixed correctly, see: frameworks/base/services/sensorservice/SensorDevice.cp

    write /sys/class/input/input5/enable 1  # enable lightsensor-level

# ------
# COMMENT eaut: some of the permission settings might qualify for p1-common
#
#               actually all the permission lines could be moved to ueventd.<hw>.rc
#               since ueventd.rc has no "import" logic we need additional makefile glue to
#               have all common stuff in p1-common and just the device specific stuff in p1/p1c

    # System server can control backlight brightness
    chmod 0664 /sys/class/lcd/s5p_lcd/lcd_power
    chown radio system /sys/class/lcd/s5p_lcd/lcd_power

    # Allow net_raw to have access to /dev/socket directory
    chown root net_raw /dev/socket
    chmod 0775 /dev/socket

    # Permission changes

    chown system radio /sys/devices/platform/s3c2440-i2c.2/i2c-2/2-004a/update_fw
    chown system radio /sys/class/power_supply/battery/reset_soc
    chown system radio /sys/class/power_supply/battery/reset_cap
    chown system radio /sys/class/power_supply/battery/fg_reg
    chown system radio /sys/class/power_supply/battery/charging_mode_booting
    chown system radio /sys/devices/platform/gpio-keys/key_pressed
    chown system radio /sys/class/misc/level/control
    chown system radio /sys/class/jack/jack_selector/select_jack
    chown system radio /sys/class/cabcset/switch_cabcset/cabcset_file_cmd
    chown system radio /sys/class/cabcset/switch_cabcset/lightsensor_file_state
    chown system radio /sys/class/sec/sec_tune_cmc623/color_saturation
    chown system radio /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    chown system radio /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_region_file_cmd
    chown system radio /sys/class/mdnieset_outdoor/switch_mdnieset_outdoor/mdnieset_outdoor_file_cmd

    # usb permission settings

    chmod 0664 /sys/devices/virtual/sec/switch/disable_vbus
    chmod 0664 /sys/devices/virtual/sec/switch/usb_state
    chmod 0664 /sys/devices/virtual/sec/switch/usb_sel
    chmod 0664 /sys/devices/virtual/sec/switch/uart_sel

    chown system radio /sys/devices/virtual/sec/switch/disable_vbus
    chown system radio /sys/devices/virtual/sec/switch/usb_state
    chown system radio /sys/devices/virtual/sec/switch/usb_sel
    chown system radio /sys/devices/virtual/sec/switch/uart_sel

    chmod 0664 /sys/devices/platform/android_usb/tethering
    chmod 0664 /sys/devices/platform/android_usb/UmsStatus
    chmod 0664 /sys/devices/platform/android_usb/UsbMenuSel
    chmod 0664 /sys/devices/platform/android_usb/AskOnStatus
    chmod 0664 /sys/devices/platform/android_usb/AskOnMenuSel

    chown system radio /sys/devices/platform/android_usb/tethering
    chown system radio /sys/devices/platform/android_usb/UmsStatus
    chown system radio /sys/devices/platform/android_usb/UsbMenuSel
    chown system radio /sys/devices/platform/android_usb/AskOnStatus
    chown system radio /sys/devices/platform/android_usb/AskOnMenuSel

    # probably obsolete?
    #chmod 0664 /sys/devices/platform/android_usb/KiesStatus
    #chown system radio /sys/devices/platform/android_usb/KiesStatus

#
#
# ------

on boot

    setprop ro.build.product p1
    setprop ro.product.device p1

# --------------------------------------------------------------------------------------
# define services
# --------------------------------------------------------------------------------------

service gpsd /system/vendor/bin/gpsd -c /system/vendor/etc/gps.xml
    class main
    socket gps seqpacket 0660 gps system
    user gps system
    group system inet

# --------------------------------------------------------------------------------------
# GT-P1000L only
# --------------------------------------------------------------------------------------

#
# Latin MobileTV [ISDB-T]
#

#service mobileTV /system/bin/broadcastProcessObserver
#    class main
#    user system
#    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw

#service mtvmf /system/bin/mtvmfservice
#    class main
#    user system
#    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw

#service mtvmfrec /system/bin/mtvmfrecservice
#    class main
#    user system
#    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw
