# ===============================================================================
on early-init
# ===============================================================================
# Maximum logging
    write /proc/sys/kernel/printk 9 4 1 7
    start ueventd

# create mountpoints
    mkdir /mnt 0775 root system
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/emmc 0000 system system

# ===============================================================================
on init
# ===============================================================================
sysclktz 0

loglevel 9

# Setup the global environment
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_BOOTLOGO 1
    export ANDROID_CACHE /cache
    export ANDROID_ROOT /system
    export ANDROID_ASSETS /system/app
    export ANDROID_DATA /data
    export PHONE_STORAGE /mnt/emmc
    export EXTERNAL_STORAGE /mnt/sdcard
    export ASEC_MOUNTPOINT /mnt/asec
    export SD_EXT_DIRECTORY /sd-ext
    export SECONDARY_STORAGE /mnt/emmc
    export USBHOST_STORAGE /mnt/sdcard/otg_disk
    export BOOTCLASSPATH /system/framework/core.jar:/system/framework/core-junit.jar:/system/framework/bouncycastle.jar:/system/framework/ext.jar:/system/framework/framework.jar:/system/framework/android.policy.jar:/system/framework/services.jar:/system/framework/apache-xml.jar:/system/framework/filterfw.jar
    export LOOP_MOUNTPOINT /mnt/obb 
    export TMPDIR /data/local/tmp
    export TERMINFO /system/etc/terminfo
    export DOWNLOAD_CACHE /data/cache_download

# Modules
    insmod /lib/modules/vibrator.ko
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko
    insmod /lib/modules/jbd2.ko 
    insmod /lib/modules/ext4.ko
    insmod /lib/modules/j4fs.ko
    insmod /lib/modules/fuse.ko
    insmod /lib/modules/storage.ko
    insmod /lib/modules/nls_utf8.ko

# Backwards Compatibility
    symlink /system/etc /etc
    symlink /mnt/sdcard /sdcard
    symlink /sys/kernel/debug /d
    symlink /mnt/emmc /emmc

    symlink /mnt/emmc /sd-ext
    chown system system /sd-ext
	chmod 0771 /sd-ext

# Right now vendor lives on the same filesystem as system,
# but someday that may change.
    symlink /system/vendor /vendor

# Create cgroup mount point for cpu accounting
    mkdir /acct
    mount cgroup none /acct cpuacct
    mkdir /acct/uid

    mkdir /config 0500 root root

    # Directory for putting things only root should see.
    mkdir /mnt/secure 0700 root root

    # Directory for staging bindmounts
    mkdir /mnt/secure/staging 0700 root root

    # Directory-target for where the secure container
    # imagefile directory will be bind-mounted
    mkdir /mnt/secure/asec  0700 root root

    # Secure container public mount points.
    mkdir /mnt/asec  0700 root system
    mount tmpfs tmpfs /mnt/asec mode=0755,gid=1000

    # Filesystem image public mount points.
    mkdir /mnt/obb 0700 root system
    mount tmpfs tmpfs /mnt/obb mode=0755,gid=1000

    write /proc/sys/kernel/panic_on_oops 1
    write /proc/sys/kernel/hung_task_timeout_secs 0
    write /proc/cpu/alignment 4
    write /proc/sys/kernel/sched_latency_ns 18000000
    write /proc/sys/kernel/sched_min_granularity_ns 1500000
    write /proc/sys/kernel/sched_wakeup_granularity_ns 3000000
    write /proc/sys/kernel/sched_compat_yield 1
    write /proc/sys/kernel/sched_child_runs_first 0

    chmod 0660 /dev/usb_mtp_gadget
    chown system system /dev/usb_mtp_gadget

# Permission for ddc
    chown system graphics /dev/i2c-1  
    chmod 660 /dev/i2c-1

# Create cgroup mount points for process groups
    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0777 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024

    mkdir /dev/cpuctl/fg_boost
    chown system system /dev/cpuctl/fg_boost/tasks
    chmod 0777 /dev/cpuctl/fg_boost/tasks
    write /dev/cpuctl/fg_boost/cpu.shares 1024

    mkdir /dev/cpuctl/bg_non_interactive
    chown system system /dev/cpuctl/bg_non_interactive/tasks
    chmod 0777 /dev/cpuctl/bg_non_interactive/tasks
    # 5.0 %
    write /dev/cpuctl/bg_non_interactive/cpu.shares 52

# Change permissions on vmallocinfo so we can grab it from bugreports
    chown root log /proc/vmallocinfo
    chmod 0440 /proc/vmallocinfo

# Change permissions on kmsg & sysrq-trigger so bugreports can grab kthread stacks
    chown root system /proc/kmsg
    chmod 0440 /proc/kmsg
    chown root system /proc/sysrq-trigger
    chmod 0220 /proc/sysrq-trigger

    chmod 0662 /dev/log/radio
    chmod 0662 /dev/log/main
    chmod 0662 /dev/log/event

# Allow net_raw to have access to /dev/socket directory
    chown root net_raw /dev/socket
    chmod 0775 /dev/socket


# Sensor sysfs permission 
	chown system radio /sys/devices/virtual/BMA-dev/accelerometer/calibration
	chown system radio /sys/devices/virtual/lightsensor/switch_cmd/lightsensor_file_cmd

# ===============================================================================
on early-fs
# ===============================================================================
# LFS
    insmod /lib/modules/j4fs.ko
    mkdir /mnt/.lfs 0755 root root

# System
    mkdir /system

# Data
    mkdir /data 0771 system system

# Dbdata
    mkdir /dbdata 0771 system system

# Cache
    mkdir /cache 0771 system cache

# EFS
	 mkdir /efs 0775 system system

# ===============================================================================
on fs
# ===============================================================================
# LFS
    mount j4fs /dev/block/stl6 /mnt/.lfs

# System
    mount ext4 /dev/block/stl9 /system wait nodev noatime nodiratime noauto_da_alloc

# Data
    mount ext4 /dev/block/mmcblk0p2 /data  wait nosuid nodev noatime nodiratime noauto_da_alloc

# Preload
	mkdir /preload
	mount vfat /dev/block/mmcblk0p3 /preload ro nodev noatime nodiratime gid=0,uid=0,dmask=0022,fmask=0133,utf8,shortname=mixed

# Dbdata
    mount ext4 /dev/block/stl10 /dbdata  wait nosuid nodev noatime nodiratime noauto_da_alloc

# EFS
    mount rfs /dev/block/stl3 /efs nosuid nodev check=no

# Cache
    mount ext4 /dev/block/stl11 /cache nosuid nodev noatime nodiratime errors=continue nobh data=writeback barrier=0 noauto_da_alloc

# Allow everybody to read the xt_qtaguid resource tracking misc dev.
# This is needed by any process that uses socket tagging.
    chmod 0644 /dev/xt_qtaguid

# ===============================================================================
on post-fs
# ===============================================================================

# Modules
    # now we can load modules
    insmod /lib/modules/param.ko
    insmod /lib/modules/ansi_cprng.ko
    insmod /lib/modules/bthid.ko
    insmod /lib/modules/scsi_wait_scan.ko
    insmod /lib/modules/cifs.ko
    insmod /lib/modules/hotspot_event_monitoring.ko
    insmod /lib/modules/tun.ko

# Remove /sbin/sh so that "adb install" can work properly
    exec /sbin/setupenv.sh

# Symlinks for samsung RIL
    symlink /radio/modem.bin /dev/block/bml12

# Data
	chown system system /data
	chmod 0771 /data

# DRM directory creation
    mkdir /system/etc/security/drm 0775
    chown root root /system/etc/security/drm 0775
    chmod 0775 /system/etc/security/drm

# WMDRM
    mkdir /data/data/.drm 0775
    mkdir /data/data.drm/.wmdrm 0775
    chown media system /data/data/.drm
    chown media system /data/data/.drm/.wmdrm
    chmod 0777 /system/bin/drmserver
    mkdir /data/lost+found 0770
    chown root root /data/lost+found
    chmod 0770 /data/lost+found

    mkdir /data/dontpanic
    chown root log /data/dontpanic
    chmod 0750 /data/dontpanic

    # Collect apanic data, free resources and re-arm trigger
    copy /proc/apanic_console /data/dontpanic/apanic_console
    chown root log /data/dontpanic/apanic_console
    chmod 0640 /data/dontpanic/apanic_console

    copy /proc/apanic_threads /data/dontpanic/apanic_threads
    chown root log /data/dontpanic/apanic_threads
    chmod 0640 /data/dontpanic/apanic_threads

    write /proc/apanic_console 1

# Create dalvik-cache and double-check the perms
    mkdir /data/dalvik-cache 0771 system system
    chown system system /data/dalvik-cache
    chmod 0771 /data/dalvik-cache

# Create basic filesystem structure
    mkdir /data/misc 01771 system misc
    mkdir /data/misc/bluetoothd 0770 bluetooth bluetooth
    mkdir /data/misc/bluetooth 0770 system system
    mkdir /data/misc/keystore 0700 keystore keystore
    mkdir /data/misc/vpn 0770 system system
    mkdir /data/misc/systemkeys 0700 system system
    mkdir /data/misc/vpn/profiles 0770 system system
    mkdir /data/misc/radio 0771 radio radio

    mkdir /data/misc/wifi 0770 wifi wifi
    chmod 0770 /data/misc/wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf

    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chmod 0770 /data/misc/dhcp
    mkdir /data/wifi 0770 wifi wifi
    mkdir /data/local 0771 shell shell
    mkdir /data/local/tmp 0771 shell shell
    mkdir /data/data 0771 system system
    mkdir /data/app-private 0771 system system
    mkdir /data/app 0771 system system
    mkdir /data/property 0700 root root

    #over-write-permission.
    chmod 0771 /data/app
    chown system system /data/app   

    # create log system 
    mkdir /data/log 0777 root root
    chmod 0777 /data/log
    chmod 0777 /data/anr

# DBDATA
    chown system system /dbdata
    chmod 0771 /dbdata
    mkdir /dbdata/databases
    chown system system /dbdata/databases
    chmod 0777 /dbdata/databases
    mkdir /dbdata/system
    chown system system /dbdata/system
    chmod 0775 /dbdata/system

# CACHE
    chown system cache /cache
    chmod 0771 /cache

# Create the lost+found directories, so as to enforce our permissions
    mkdir /data/lost+found 0770
    mkdir /cache/lost+found 0770
    chown root root /data/lost+found
    chmod 0770 /data/lost+found
    chown root root /cache/lost+found
    chmod 0770 /cache/lost+found

# This may have been created by the recovery system with odd permissions
    chown system cache /cache/recovery
    chmod 0770 /cache/recovery

# Create system dalvik cache, it is unused anyway
    mkdir /cache/dalvik-cache 0771 system system
    chown system system /cache/dalvik-cache
    chmod 0771 /cache/dalvik-cache

    chown radio radio /efs
    chmod 0775 /efs
    mkdir /data/radio 0775 radio radio
    mkdir /data/radio/log 0775 radio radio
    chmod 770 /efs/bluetooth
    chmod 770 /efs/imei

# Create resource-cache and double-check the perms
    mkdir /data/resource-cache 0771 system system
    chown system system /data/resource-cache
    chmod 0771 /data/resource-cache

    mkdir /data/cache_download 0771 system cache
    chown system cache /data/cache_download
    chmod 0771 /data/cache_download

# Devices
    chown root input /dev/i2c-5
    chown root input /dev/i2c-6
    chown root input /dev/i2c-10

# Include extra init file
    import init.s5pc110.usb.rc

# ===============================================================================
on boot
# ===============================================================================
# Basic network init
    ifup lo
    hostname localhost
    domainname localdomain

# Latin MobileTV [ISDBT]
#    mkdir /data/one-seg 0777 system system

# Set RLIMIT_NICE to allow priorities from 19 to -20
    setrlimit 13 40 40

# Set timeout value for rmnet stats.
    write /sys/devices/virtual/net/rmnet0/timeout_suspend 5000000

# Define the oom_adj values for the classes of processes that can be
# killed by the kernel. These are used in ActivityManagerService.
    setprop ro.FOREGROUND_APP_ADJ 0
    setprop ro.VISIBLE_APP_ADJ 1
    setprop ro.PERCEPTIBLE_APP_ADJ 2
    setprop ro.HEAVY_WEIGHT_APP_ADJ 3
    setprop ro.SECONDARY_SERVER_ADJ 4
    setprop ro.BACKUP_APP_ADJ 5
    setprop ro.HOME_APP_ADJ 6
    setprop ro.HIDDEN_APP_MIN_ADJ 7
    setprop ro.EMPTY_APP_ADJ 15

# To enable wifi  
    setprop wifi.interface "eth0"

# Define the memory thresholds at which the above process classes will
# be killed.  These numbers are in pages (4k).
    setprop ro.FOREGROUND_APP_MEM 8192
    setprop ro.VISIBLE_APP_MEM 10240
    setprop ro.PERCEPTIBLE_APP_MEM 10240
    setprop ro.HEAVY_WEIGHT_APP_MEM 10240
    setprop ro.SECONDARY_SERVER_MEM 12288
    setprop ro.BACKUP_APP_MEM 12288
    setprop ro.HOME_APP_MEM 12288
    setprop ro.HIDDEN_APP_MEM 14336
    setprop ro.CONTENT_PROVIDER_MEM 16384
    setprop ro.EMPTY_APP_MEM 20480
  
# Write value must be consistent with the above properties.
# Note that the driver only supports 6 slots, so we have combined some of
# the classes into the same memory level; the associated processes of higher
# classes will still be killed first.
    write /sys/module/lowmemorykiller/parameters/adj 0,1,2,4,7,15

    write /proc/sys/vm/overcommit_memory 1
    write /proc/sys/vm/min_free_order_shift 4
    write /sys/module/lowmemorykiller/parameters/minfree 8192,10240,12288,14336,16384,20480

# Set init its forked children's oom_adj.
    write /proc/1/oom_adj -16

# Tweak background writeout
    write /proc/sys/vm/swappiness 50
    write /proc/sys/vm/dirty_expire_centisecs 500
    write /proc/sys/vm/dirty_writeback_centisecs 1000
    write /proc/sys/vm/dirty_background_ratio 5
    write /proc/sys/vm/dirty_ratio 90
    write /proc/sys/vm/vfs_cache_pressure 10
    write /proc/sys/vm/page-cluster 0

# Permissions for System Server and daemons.
    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
    chown radio system /sys/power/state
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock
    chown radio system /sys/power/dvfslock_ctrl
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chmod 0660 /sys/power/dvfslock_ctrl
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/backlight/s5p_bl/brightness
    chmod 0664 /sys/class/lcd/s5p_lcd/lcd_power
    chown radio system /sys/class/lcd/s5p_lcd/lcd_power
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max
    chown root radio /proc/cmdline
    # allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

# Define TCP buffer sizes for various networks
#   ReadMin, ReadInitial, ReadMax, WriteMin, WriteInitial, WriteMax,
    setprop net.tcp.buffersize.default 4096,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.wifi    524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.lte     524288,1048576,2097152,262144,524288,1048576
    setprop net.tcp.buffersize.umts    4094,87380,110208,4096,16384,110208
    setprop net.tcp.buffersize.hspa    4094,87380,262144,4096,16384,262144
    setprop net.tcp.buffersize.edge    4093,26280,35040,4096,16384,35040
    setprop net.tcp.buffersize.gprs    4092,8760,11680,4096,8760,11680

# For datarouter
    chown system system /dev/ttyGS0
    chown system system /dev/dun

# Include extra init file
    import /system/etc/init.local.rc

# Fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# Set this property so surfaceflinger is not started by system_init
    setprop system_init.startsurfaceflinger 0

    write /sys/class/block/mmcblk0/queue/iosched/low_latency 0
    write /sys/class/block/mmcblk1/queue/iosched/low_latency 0
    write /sys/class/block/stl10/queue/iosched/low_latency 0
    write /sys/class/block/stl9/queue/iosched/low_latency 0

# Sensor light
    write /sys/class/input/input3/enable 1
    chown root input /sys/class/input/input3/enable
    chmod 660 /sys/class/input/input3/enable

# Gyro
    write /sys/class/input/input4/enable 1
    chown root input /sys/class/input/input4/enable
    chmod 660 /sys/class/input/input4/enable

# Change permission for uart_switch
    chown system radio /sys/class/sec/switch/usb_state
    chown system radio /sys/class/sec/switch/usb_sel
    chown system radio /sys/class/sec/switch/uart_sel
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chown compass root /sys/class/input/input3/distortion
    chown compass root /sys/class/input/input3/offsets
    chown compass root /sys/class/input/input3/shape
    chown compass root /sys/class/input/input3/threshold
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

# Create data/gps for GPS demon
    mkdir /data/gps 700 gps system
    chown gps system /data/gps
    chown gps root /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 660 /sys/class/sec/gps/GPS_PWR_EN/value

# Change permission for compass
    chown compass input /sys/class/input/input3/offsets
    chown compass input /sys/class/input/input3/shape
    chown compass input /sys/class/input/input3/distortion
    chown compass input /sys/class/input/input3/threshold

# cpufreq, set ondemand governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor ondemand


# Permissions for bluetooth.
    setprop ro.bt.bdaddr_path "/efs/imei/bt.txt"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/s3c2410_serial0
    chmod 0600 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# Run sysinit
exec /system/bin/sysinit

# ADB
write /sys/class/android_usb/android0/enable 0
write /sys/class/android_usb/android0/functions adb
write /sys/class/android_usb/android0/enable 1

    class_start core
    class_start main

on property:vold.decrypt=trigger_reset_main
    class_reset main

on property:vold.decrypt=trigger_load_persist_props
    load_persist_props

on property:vold.decrypt=trigger_post_fs_data
    trigger post-fs-data

on property:vold.decrypt=trigger_restart_min_framework
    class_start main

on property:vold.decrypt=trigger_restart_framework
    class_start main

on property:vold.decrypt=trigger_shutdown_framework
    class_reset main

# ===============================================================================
# Services
# ===============================================================================
service ueventd /sbin/ueventd
    class core
    critical

service console /system/bin/sh
    class core
    console
    disabled
    user shell
    group log

on property:ro.debuggable=1
    start console

# create filesystems if necessary
service setup_fs /system/bin/setup_fs /dev/block/mmcblk0p2 /dev/block/stl10 /dev/block/stl11
    class core
    user root
    group root
    oneshot

# Samsung USB Mode : system properties are linked with sysfs
on property:persist.service.usb.setting=0
  write /sys/devices/platform/android_usb/UsbMenuSel 0

on property:persist.service.usb.setting=1
  write /sys/devices/platform/android_usb/UsbMenuSel 1

on property:persist.service.usb.setting=2
  write /sys/devices/platform/android_usb/UsbMenuSel 2

on property:persist.service.usb.setting=3
  write /sys/devices/platform/android_usb/UsbMenuSel 3

on property:persist.service.usb.setting=4
  write /sys/devices/platform/android_usb/UsbMenuSel 4

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    class core
    group shell log
    disabled

# 3D init
service pvrsrvinit /system/bin/pvrsrvinit
   class core
   user root
   group root
   oneshot

service bdaddr /system/bin/bdaddr_read
    class main
    user root
    disabled
    oneshot

on property:init.svc.bootanim=running
    start bdaddr


service servicemanager /system/bin/servicemanager
    class core
    user system
    group system
    critical
    onrestart restart zygote
    onrestart restart media
    onrestart restart surfaceflinger
    onrestart restart drm

service tvout /system/bin/tvoutserver
    class main
	user system
	group graphics

service tvouthack /system/bin/tvouthack
	class main
    user root system
    group system graphics

service vold /system/bin/vold
    class core
    socket vold stream 0660 root mount
    socket usbstorage stream 0660 root mount
    ioprio be 2

service netd /system/bin/netd
    class main
    socket netd stream 0660 root system
    socket dnsproxyd stream 0660 root inet

# for usb tethering
service dnsmasq /system/bin/logwrapper /system/bin/dnsmasq -d
    class main
    disabled

service ril-daemon /system/bin/rild -l /system/lib/libsec-ril.so -- -d /dev/ttyS0
    class main
    socket rild stream 660 root radio system
    socket rild-debug stream 660 radio system
    user root system
    group radio cache inet misc audio sdcard_rw log

service surfaceflinger /system/bin/surfaceflinger
    class main
    user system
    group graphics
    onrestart restart zygote

service zygote /system/bin/app_process -Xzygote /system/bin --zygote --start-system-server
    class main
    socket zygote stream 666
    onrestart write /sys/android_power/request_state wake
    onrestart write /sys/power/state on
    onrestart restart media
    onrestart restart netd

service media /system/bin/mediaserver
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc
    ioprio rt 4

# Execute files in /system/etc/init.d
service sysinit /system/bin/logwrapper /system/xbin/busybox run-parts /system/etc/init.d
    class main
    oneshot

service debuggerd /system/bin/debuggerd
    class main

# Latin MobileTV [ISDBT]
#service mobileTV /system/bin/broadcastProcessObserver
#    class main
#    user system
#    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw

#service mtvmf /system/bin/mtvmfservice
#    class main
#    user system
#    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw

#service mtvmfrec /system/bin/mtvmfrecservice
#    class main
#    user system
#    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw

service gpsd /system/vendor/bin/gpsd -c /system/vendor/etc/gps.xml
    class main
    socket gps seqpacket 0660 gps system
    user gps system
    group system inet

# adbd on at boot in emulator
on property:ro.kernel.qemu=1
    start adbd

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

service bootanim /system/bin/bootanimation
    class main
    user graphics
    group graphics
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c/etc/wpa_supplicant.conf
    class main
    socket wpa_eth0 dgram 0660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABLK
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service ifcfg_eth0 /system/bin/ifconfig eth0 up
    class main
    disabled
    oneshot

#service wlandutservice /system/bin/wlandutservice
#	class main
#    disabled
#    oneshot

service hciattach /system/bin/brcm_patchram_plus -d --enable_hci --i2s=1,0,0,0 \
    --baudrate 3000000 --patchram /system/bin/BCM4329B1_002.002.023.0534.0590.hcd /dev/s3c2410_serial0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled

service dbus /system/bin/dbus-daemon --system --nofork
    class main
    socket dbus stream 660 bluetooth bluetooth
    user bluetooth
    group bluetooth net_bt_admin

# bluetooth_bnep
service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service bluetoothd /system/bin/bluetoothd -n
    class main
    socket bluetooth stream 660 bluetooth bluetooth
    socket dbus_bluetooth stream 660 bluetooth bluetooth
    group bluetooth net_bt_admin misc
    disabled

service hfag /system/bin/sdptool add --channel=10 HFAG
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service hsag /system/bin/sdptool add --channel=11 HSAG
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service opush /system/bin/sdptool add --channel=12 OPUSH
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service pbap /system/bin/sdptool add --channel=19 PBAP
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service installd /system/bin/installd
    class main
    socket installd stream 600 system system

service racoon /system/bin/racoon
    class main
    socket racoon stream 600 system system
    # IKE uses UDP port 500. Racoon will setuid to vpn after binding the port.
    group vpn net_admin inet
    disabled
    oneshot

service mtpd /system/bin/mtpd
    class main
    socket mtpd stream 600 system system
    user vpn
    group vpn net_admin inet net_raw
    disabled
    oneshot

service keystore /system/bin/keystore /data/misc/keystore
    class main
    user keystore
    group keystore
    socket keystore stream 666

service drm /system/bin/logwrapper /system/bin/drmserver
    class core
    user drm root system
    group root system inet drmrpc

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -v -o /sdcard/bugreports/bugreport
    class main
    socket dumpstate stream 0660 shell log
    disabled
    oneshot

#service 3g_route /system/xbin/route add default dev pdp0
#    class main
#    user root system
#    group root system

service orientationd /system/vendor/bin/orientationd
    class main
    user compass
    group system input
    disabled

service geomagneticd /system/vendor/bin/geomagneticd
    class main
    user compass
    group system input

# Clean reboot
service reboot /system/xbin/shutdown -r
    class main
    disabled
    oneshot

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd
