on property:sys.usb.config=rndis
    write /sys/devices/platform/android_usb/tethering 1
    setprop sys.usb.state rndis

on property:sys.usb.config=mass_storage,adb
    write /sys/devices/platform/android_usb/tethering 0
    setprop sys.usb.state mass_storage,adb

on property:sys.usb.config=none
    setprop sys.usb.state none
