import init.s5pc110.usb.rc

on init

loglevel 9
    export EXTERNAL_STORAGE /mnt/sdcard

    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard

    # samsung kernel modules 
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko

# parameter block
    mkdir /mnt/.lfs 0755 root root
    insmod /lib/modules/j4fs.ko
    mount j4fs /dev/block/stl6 /mnt/.lfs
    insmod /lib/modules/param.ko

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # Tweak background writeout
    write /proc/sys/vm/dirty_writeback_centisecs 2000
    write /proc/sys/vm/dirty_expire_centisecs 1000
    write /proc/sys/vm/dirty_ratio 90

# Include extra init file
    import /device.rc

    setprop ro.build.product vzwtab
    setprop ro.product.device vzwtab
    setprop ro.radio.noril yes

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# phone
    setprop ro.telephony.call_ring.multiple 0


# permission for ddc
    chown system graphics /dev/i2c-1	
    chmod 660 /dev/i2c-1

on fs
# mount mtd partitions
    # Mount /system rw first to give the filesystem a chance to save a checkpoint
    mount rfs /dev/block/stl9 /system check=no
    mount ext4 /dev/block/stl9 /system
    
# ko files for vibrator
    insmod /system/lib/modules/vibrator.ko

# radio module
    insmod /system/lib/modules/dpram_vzw.ko

# samsung module
    insmod /system/lib/modules/storage.ko

# ko files for bthid
    insmod /system/lib/modules/bthid.ko

# use movinand second partition as /data. d.moskvitin
    
    mkdir /data
    mount rfs /dev/block/stl10 /data nosuid nodev check=no
    mount ext4 /dev/block/stl10 /data wait nosuid noatime nodiratime noauto_da_alloc
    chown system system /data
    chmod 0771 /data    
    
    #mkdir /dbdata
    #mount rfs /dev/block/stl10 /dbdata nosuid nodev check=no
    #mount ext4 /dev/block/stl10 /dbdata wait nosuid noatime nodiratime noauto_da_alloc
    #chown system system /dbdata
    #chmod 0771 /dbdata    

    # Same reason as /data above
    mkdir /cache
    mount rfs /dev/block/stl11 /cache nosuid nodev check=no
    mount ext4 /dev/block/stl11 /cache nosuid nodev noatime nodiratime noauto_da_alloc
    chown system cache /cache
    chmod 0771 /cache

on post-fs-data
    # create data/gps for GPS demon
    mkdir /data/gps 771 gps system
    chown gps system /data/gps
    chmod 0777 /system/vendor/bin/gpsd

# allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

#Permission changes
    chown system radio /sys/devices/platform/s3c2440-i2c.2/i2c-2/2-004a/update_fw
    chown system radio /sys/class/power_supply/battery/reset_soc
    chown system radio /sys/class/power_supply/battery/reset_cap
    chown system radio /sys/class/power_supply/battery/fg_reg
    chown system radio /sys/class/power_supply/battery/charging_mode_booting
    chown system radio /sys/devices/platform/gpio-keys/key_pressed
    chown system radio /sys/class/misc/level/control
    chown system radio /sys/class/jack/jack_selector/select_jack 
    chown system radio /sys/class/cabcset/switch_cabcset/cabcset_file_cmd
    chown system radio /sys/class/cabcset/switch_cabcset/lightsensor_file_state
    chown system radio /sys/class/sec/sec_tune_cmc623/color_saturation
    chown system radio /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_ui_file_cmd
    chown system radio /sys/class/mdnieset_ui/switch_mdnieset_ui/mdnieset_region_file_cmd
    chown system radio /sys/class/mdnieset_outdoor/switch_mdnieset_outdoor/mdnieset_outdoor_file_cmd

#Permissions changes lightsensor
   chown system radio /sys/devices/virtual/lightsensor/switch_cmd/lightsensor_file_cmd

#USB permission settings    
    chmod 0664 /sys/devices/virtual/sec/switch/disable_vbus 
    chmod 0664 /sys/devices/virtual/sec/switch/usb_state
    chmod 0664 /sys/devices/virtual/sec/switch/usb_sel
    chmod 0664 /sys/devices/virtual/sec/switch/uart_sel
    
    chown system radio /sys/devices/virtual/sec/switch/disable_vbus
    chown system radio /sys/devices/virtual/sec/switch/usb_state
    chown system radio /sys/devices/virtual/sec/switch/usb_sel
    chown system radio /sys/devices/virtual/sec/switch/uart_sel

    chmod 0664 /sys/devices/platform/android_usb/tethering
    chmod 0664 /sys/devices/platform/android_usb/KiesStatus
    chmod 0664 /sys/devices/platform/android_usb/UmsStatus
    chmod 0664 /sys/devices/platform/android_usb/AskOnStatus
    chmod 0664 /sys/devices/platform/android_usb/AskOnMenuSel
    chmod 0664 /sys/devices/platform/android_usb/UsbMenuSel

    chown system radio /sys/devices/platform/android_usb/tethering
    chown system radio /sys/devices/platform/android_usb/KiesStatus
    chown system radio /sys/devices/platform/android_usb/UmsStatus
    chown system radio /sys/devices/platform/android_usb/AskOnStatus
    chown system radio /sys/devices/platform/android_usb/AskOnMenuSel
    chown system radio /sys/devices/platform/android_usb/UsbMenuSel

on boot
# to enable wifi
     setprop wifi.interface "eth0"

# Include extra init file
    import /system/etc/init.local.rc

# Run sysinit
    exec /system/bin/sysinit

# System server can control backlight brightness
    chown system system /sys/class/backlight/s5p_bl/brightness
    chmod 0664 /sys/class/lcd/s5p_lcd/lcd_power
    chown radio system /sys/class/lcd/s5p_lcd/lcd_power

#bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path
    chown bluetooth bluetooth /dev/s3c2410_serial0
    chmod 0660 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# +++++++++++++++++++++++++++++++++++++++++++
# for datarouter
    chown system system /dev/ttyGS0
    chown system system /dev/dun
# +++++++++++++++++++++++++++++++++++++++++++    

# Samsung USB Mode : system properties are linked with sysfs
on property:persist.service.usb.setting=0
	write /sys/devices/platform/android_usb/UsbMenuSel 0
on property:persist.service.usb.setting=1
	write /sys/devices/platform/android_usb/UsbMenuSel 1
on property:persist.service.usb.setting=2
	write /sys/devices/platform/android_usb/UsbMenuSel 2
on property:persist.service.usb.setting=3
	write /sys/devices/platform/android_usb/UsbMenuSel 3
on property:persist.service.usb.setting=4
	write /sys/devices/platform/android_usb/UsbMenuSel 4

on property:ro.debuggable=1
    start adbd

# 3D init
service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_eth0 dgram 0660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL eth0
    class main
    disabled
    oneshot

# end of wifi

service gps-daemon /system/vendor/bin/gpsd
	class late_start
	user system
	group system inet
