# Sequence of init files - see system/core/init/init.c
#
# 1. init.rc
# 2. init.<hardware>.rc
#
# Sequence of init triggers - see system/core/init/init.c
# 
# 01. early-init
# 02. init
# 03. if bootmode=charger
#      early-fs
# 04. if emmc_boot
#       emmc-fs
#     else
#       fs
# 06. post-fs
# 07. post-fs-data
# 08. if bootmode=charger
#       charger
# 09. early-boot
# 10. boot
# 11. property triggers

# --------------------------------------------------------------------------------------
# define triggers
# --------------------------------------------------------------------------------------

import init.p1-common.rc
import usb.rc

on init

    # create P1 device specific partition directories
    mkdir /radio
    mkdir /efs

    export SECONDARY_STORAGE /mnt/emmc
    mkdir /mnt/emmc 0000 system system
    symlink /mnt/emmc /emmc

on fs

    # mount P1 device specific partions
    mount yaffs2 mtd@radio /radio
    mount yaffs2 mtd@efs /efs

on post-fs

    # We chown/chmod again, because mount is run as root + defaults
    chown radio radio /radio
    chmod 0775 /radio
    chown radio radio /efs
    chmod 0775 /efs

on post-fs-data

    # set permissions for files in /efs
    chmod 770 /efs/bluetooth
    chmod 770 /efs/imei

    # set permissions for files in /radio
    chown radio radio /radio/modem.bin
    chmod 0777 /radio/modem.bin
    symlink /radio/modem.bin /dev/block/bml12

    # gps P1 only
    chown gps root /sys/class/sec/gps/GPS_PWR_EN/value
    chmod 660 /sys/class/sec/gps/GPS_PWR_EN/value

    # sensors
    # this needs to be fixed correctly, see: frameworks/base/services/sensorservice/SensorDevice.cp

    write /sys/class/input/input3/enable 1  # enable orientation sensor

on boot

    setprop ro.build.product p1
    setprop ro.product.device p1

# --------------------------------------------------------------------------------------
# define services
# --------------------------------------------------------------------------------------

# redefine service ril-daemon in class core
# --> init.rc has a version that is not working for this device
service ril-daemon /system/bin/rild -l /system/lib/libsec-ril.so -- -d /dev/ttyS0
    class core
    socket rild stream 666 radio radio
    socket rild-debug stream 666 radio system
    user root
    group radio cache inet misc audio sdcard_rw log

