import init.gt-.usb.rc

on init

    loglevel 9

    export EXTERNAL_STORAGE /mnt/sdcard

    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard

    export SECONDARY_STORAGE /mnt/emmc
    mkdir /mnt/emmc 0000 system system
    symlink /mnt/emmc /emmc

    # We will create our own ril-daemon service in class 'core' because the
    # rild doesn't like being killed. (During device encryption.)
    stop ril-daemon

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    setprop ro.build.product p1
    setprop ro.product.device p1
    setprop ro.radio.noril yes

# fake some battery state
    setprop status.battery.state Slow
    setprop status.battery.level 5
    setprop status.battery.level_raw  50
    setprop status.battery.level_scale 9

# phone
    setprop ro.telephony.call_ring.multiple 0

# permission for ddc
    chown system graphics /dev/i2c-1
    chmod 660 /dev/i2c-1

on fs
    mount ext4 /dev/block/mmcblk0p2 /data wait nosuid noatime nodiratime noauto_da_alloc

    mkdir /radio 0775 radio radio
    mount yaffs2 mtd@radio /radio
    chown radio radio /radio/modem.bin

# We chown/chmod /efs because mount is run as root + defaults
    mkdir /efs 0775 radio radio
    mount yaffs2 /dev/block/mtdblock4 /efs
    chown radio radio /efs
    chmod 770 /efs/bluetooth
    chmod 770 /efs/imei

# ko files for vibrator
    insmod /system/lib/modules/vibrator.ko

# ko files for bthid
    insmod /system/lib/modules/bthid.ko

#bluetooth
    chown bluetooth bluetooth /dev/s3c2410_serial0
    chmod 0660 /dev/s3c2410_serial0
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill1/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type

# System server can control backlight brightness
    chown system system /sys/class/backlight/s5p_bl/brightness

# change permission for uart_switch
    chown radio radio /sys/class/sec/uart_switch/UART_SEL/value
    chmod 660 /sys/class/sec/uart_switch/UART_SEL/value

on post-fs
    #symlinks for samsung RIL
    symlink /radio/modem.bin /dev/block/bml12

    # allow system to modify cpufreq control files
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown root system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    
# sensors
# this needs to be fixed correctly
# see: frameworks/base/services/sensorservice/SensorDevice.cpp
    write /sys/class/input/input3/enable 1
    write /sys/class/input/input4/enable 1

on post-fs-data
    # create data/gps for GPS demon
    mkdir /data/gps 771 gps system
    chown gps system /data/gps
    chmod 0777 /system/vendor/bin/gpsd

    # wi-fi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp

    # to enable wifi
    setprop wifi.interface "eth0"

on property:ro.debuggable=1
    start adbd

    setprop vold.post_fs_data_done 1

# 3D init
service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot

service ril-daemon /system/bin/rild
    class core
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw log

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -ieth0 -c/data/misc/wifi/wpa_supplicant.conf
    class main
    socket wpa_eth0 dgram 0660 wifi wifi
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service hciattach /system/bin/brcm_patchram_plus --enable_hci --baudrate 3000000 --patchram /system/bin/BCM4329B1_002.002.023.0534.0571.hcd /dev/s3c2410_serial0
    class main
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service gps-daemon /system/vendor/bin/gpsd
    class late_start
    user system
    group system inet

service tvout /system/bin/tvoutserver
    class late_start
    user system
    group graphics

service tvouthack /system/bin/tvouthack
    user system
    group graphics
    disabled
