on early-init
    start ueventd

on init

# GyuTae FIX : we should not use system partition!!!!!
#	export PATH /sbin:/bin

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

    symlink /system/etc /etc

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /tmp
    mkdir /dbdata
    mkdir /mnt 0775 root root
    #mount /tmp /tmp tmpfs   

on early-fs

    # rfs drivers
    insmod /lib/modules/fsr.ko
    insmod /lib/modules/fsr_stl.ko
    insmod /lib/modules/rfs_glue.ko
    insmod /lib/modules/rfs_fat.ko

    # parameter block
    mkdir /mnt/.lfs 0755 root root
    insmod /lib/modules/j4fs.ko
    mount j4fs /dev/block/stl6 /mnt/.lfs
    insmod /lib/modules/param.ko


on fs
	mount tmpfs tmpfs /tmp
  	mount rfs /dev/block/stl9 /system check=no
        mount rfs /dev/block/stl9 /system ro remount
        mount ext4 /dev/block/stl9 /system noatime nodiratime errors=continue nobh data=writeback barrier=0 noauto_da_alloc

on boot

	ifup lo
	hostname localhost
	domainname localdomain

	class_start default

service ueventd /sbin/ueventd
    critical

service console /system/bin/sh
	console

# adbd is controlled by the persist.service.adb.enable system property
service adbd /sbin/adbd
    disabled

service playlpm /system/bin/playlpm
    user root
    oneshot  

service lpmkey /system/bin/charging_mode
    user root
    oneshot

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd

