# graphics & camera
/dev/pvrsrvkm             0666   system     system
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/s3c-jpg              0660   system     camera
/dev/s3c-mem              0660   system     system
/dev/s3c-mfc              0660   media      media

# latin Mobile TV
/dev/dmb                  0660   system     system
/dev/s3c-tsi              0660   system     system

# TV Out
/dev/video14              0660   system     graphics
/dev/video21              0660   system     graphics
/dev/video22              0660   system     graphics

# for ddc
/dev/i2c-1                0660   system     graphics

# more i2c stuff
/dev/i2c-5                0660   root       input
/dev/i2c-6                0660   root       input
/dev/i2c-10               0660   root       input

# for radio interface
/dev/modem_ctl            0660   radio      radio
/dev/modem_fmt            0660   radio      radio
/dev/modem_rfs            0660   radio      radio
/dev/s3c2410_serial3      0660   radio      radio
/dev/onedram              0660   radio      radio
/dev/block/mtdblock3      0660   radio      radio
/dev/mtd/mtd3ro           0660   radio      radio

# network
/dev/dun                  0600   system     system
/dev/ttyGS0               0600   system     system

# for Sensor HAL
/dev/akm8973              0660   system     system
/dev/accelerometer        0660   system     system
/dev/l3g4200d             0600   system       system
/sys/devices/virtual/BMA-dev/accelerometer   calibration               0660 system system
/sys/devices/virtual/lightsensor/switch_cmd  lightsensor_file_cmd      0660 system system

# for GPS
/dev/s3c2410_serial1      0600   gps        gps

# for bluetooth
/dev/s3c2410_serial0      0660   bluetooth  net_bt_stack

# for mtp
/dev/usb_mtp_gadget       0660   system     system

# serial console aka s3c2310_serial2 uart in old kernel
/dev/ttyFIQ0              0600   root       root
