/dev/null                 0666   root       root 
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root
/dev/usb_mtp_gadget       0660   system     system

# logger should be world writable (for logging) but not readable
/dev/log/*                0662   root       log

/dev/android_adb          0660   adb        adb
/dev/android_adb_enable   0660   adb        adb
/dev/tty0                 0660   root       system
/dev/input/*              0660   root       input
/dev/oncrpc/*             0660   root       system
/dev/adsp/*               0660   system     audio
/dev/bus/usb/*            0660   root       usb
/dev/mem                  0666   system     system
/dev/tspdrv               0666   root       root
/dev/ttyGS0               0600   system     system

# radio and network
/dev/alarm                0664   system     radio
/dev/onedram              0660   radio      root
/dev/ppp                  0660   radio      vpn
/dev/tun                  0660   vpn        vpn
/dev/dun                  0600   system     system

# bluetooth
/dev/uinput               0660   system     bluetooth
/dev/rfkill               0666   bluetooth  bluetooth

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input

# block devices
/dev/block/stl1           0600   root       root
/dev/block/stl2           0600   root       root
/dev/block/stl3           0600   root       root
/dev/block/stl4           0600   root       root
/dev/block/stl5           0600   root       root
/dev/block/stl6           0600   root       root
/dev/block/stl7           0600   root       root
/dev/block/stl8           0600   root       root
/dev/block/stl9           0600   root       root
/dev/block/stl10          0600   root       root
/dev/block/stl11          0600   root       root
/dev/block/stl12          0600   root       root

/dev/block/bml0           0600   root       root
/dev/block/bml1           0600   root       root
/dev/block/bml2           0600   root       root
/dev/block/bml3           0600   root       root
/dev/block/bml4           0600   root       root
/dev/block/bml5           0600   root       root
/dev/block/bml6           0600   root       root
/dev/block/bml7           0600   root       root
/dev/block/bml8           0600   root       root
/dev/block/bml9           0600   root       root
/dev/block/bml10          0600   root       root
/dev/block/bml11          0600   root       root
/dev/block/bml12          0660   radio      radio

# graphics
/dev/pvrsrvkm             0666   system     system
/dev/s3c-jpg              0660   system     camera
/dev/s3c-mem              0660   system     system
/dev/s3c-mfc              0660   system     graphics
/dev/s3c_bc               0666   system     graphics
/dev/pmem                 0660   system     graphics
/dev/pmem_gpu1            0660   system     graphics
/dev/graphics/*           0660   root       graphics

# camera
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/video14              0660   system     system
/dev/video21              0660   system     system
/dev/video22              0660   system     system

# sound
/dev/pmem_adsp*           0660   system     audio
/dev/snd/*                0666   system     audio

/dev/modem_ctl            0660   radio      radio
/dev/modem_fmt            0660   radio      radio
/dev/modem_rfs            0660   radio      radio

# sensors
/dev/akm8973              0660   system     system
/dev/accelerometer        0660   system     system
/dev/l3g4200d             0600   root       root


# for bluetooth
/dev/s3c2410_serial0      0660   bluetooth  bluetooth
# for GPS
/dev/s3c2410_serial1      0600   gps        gps
# serial console aka s3c2310_serial2 uart in old kernel
/dev/ttyFIQ0              0600   root       root
# for radio
/dev/s3c2410_serial3      0660   radio      radio

/dev/hotspot_event_monitoring 0660   system     system

#latin Mobile TV
#for dmb & s3c-tsi
/dev/dmb                  0660   system     system
/dev/s3c-tsi              0660   system     system